:root {
    --dark_background_color: #000000;
    --background_color: #202020;
    --text_color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text_color);
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: var(--dark_background_color);
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: var(--text_color);
    line-height: 1.6;
}
.top-header {
    font-size: 16px;
    color: var(--text_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--dark_background_color);
}
.top-header span {
    font-size: 16px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background_color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}
button {
    background-color: #ff7f00;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0px 10px;
}
.nav-link {
    list-style-type: none;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}
form label {
    font-weight: bold;
}
form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form input:focus {
    border-color: #ff7f00;
    outline: none;
}
form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff7f00;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: #e67300;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.grid-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}